<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129155296792-dtpntu3piper0fq2e7ncu1i6tens36bc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129155296792-dtpntu3piper0fq2e7ncu1i6tens36bc</string>
	<key>API_KEY</key>
	<string>AIzaSyAc5IcRlcTsx26EOte7Z2oNAeiw_Kkvze0</string>
	<key>GCM_SENDER_ID</key>
	<string>129155296792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nowras.oym</string>
	<key>PROJECT_ID</key>
	<string>oym-oman</string>
	<key>STORAGE_BUCKET</key>
	<string>oym-oman.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129155296792:ios:17a55f534a6a8a7afb9d6d</string>
</dict>
</plist>